<aside>
    <div class="logo">
        <img src="~/Images/AlphaLogo.svg" alt="logotype">
        <span class="text-logo">alpha</span>
    </div>
    <div class="link-group">
        <a href="" class="link-dash">
            <i class="fa-duotone fa-solid fa-briefcase" style="--fa-primary-color: #2980d1; --fa-secondary-color: #abd6ff;"></i>Projects
        </a>
        <a href="" class="link-dash">
            <i class="fa-duotone fa-solid fa-user-group" style="--fa-primary-color: #2980d1; --fa-secondary-color: #9fb8d1;"></i>Members
        </a>
    </div>
</aside>