@model MemberViewModel

<section id="add-edit-member-modal" class="modal">
    <div class="card">
        <div class="card-header">
            <h3>Edit Member</h3>
            <button data-type="close"
            data-target="#add-edit-member-modal"
            class="btn-close"></button>
        </div>
        <div class="card-body">
            <form asp-controller="Members"
            asp-action="Edit"
            method="post"
            enctype="multipart/form-data">
                <input asp-for="FormModel.Id" type="hidden" />
                <input type="hidden" asp-for="FormModel.Image" />
                <div class="form-group">
                    <div id="upload-trigger-edit"
                    class="image-preview-container user-image">
                        <img id="image-preview" src="#" class="hide" />
                        <div id="image-preview-icon-container"
                        class="circle circle-grey">
                            <i id="image-preview-icon"
                            class="fa-duotone fa-solid fa-camera"></i>
                        </div>
                    </div>
                    <input asp-for="FormModel.ImageFile" type="file" id="image-upload" accept="image/*" />
                </div>
                <div class="form-horizontal-group">
                    <div class="form-group">
                        <label>First Name</label>
                        <input asp-for="FormModel.FirstName" class="form-input" />
                    </div>
                    <div class="form-group">
                        <label>Last Name</label>
                        <input asp-for="FormModel.LastName" class="form-input" />
                    </div>
                </div>

                <div class="form-horizontal-group">
                    <div class="form-group">
                        <label>Email</label>
                        <input asp-for="FormModel.Email" class="form-input" />
                    </div>
                    <div class="form-group">
                        <label>Phone</label>
                        <input asp-for="FormModel.Phone" class="form-input" />
                    </div>
                </div>

                <div class="form-horizontal-group">
                    <div class="form-group">
                        <label>Job Title</label>
                        <input asp-for="FormModel.JobTitle" class="form-input" />
                    </div>
                    <div class="form-group">
                        <label>City</label>
                        <input asp-for="FormModel.Address.City" class="form-input" />
                    </div>
                </div>


                <div class="form-horizontal-group">
                    <div class="form-group">
                        <label>Street Name</label>
                        <input asp-for="FormModel.Address.StreetName" class="form-input" />
                    </div>
                    <div class="form-group">
                        <label>Street Number</label>
                        <input asp-for="FormModel.Address.StreetNumber" class="form-input" />
                    </div>
                </div>
                <div class="form-group">
                    <label>Postal Code</label>
                    <input asp-for="FormModel.Address.PostalCode" class="form-input" />
                </div>

                <div class="form-group">
                    <label>Date Of Birth</label>
                    <input asp-for="FormModel.DateOfBirth" type="date" class="form-input" />
                </div>

                    @if (User.IsInRole("Administrator"))
                    {
                    <button type="submit" class="btn">Update Member</button>
                    }
                        
            </form>
        </div>
    </div>
</section>
<script src="@Url.Content("~/js/EditMemberModal.js")" asp-append-version="true"></script>