<nav class="nav-links">
    <a asp-controller="Dashboard" asp-action="Index" class="nav-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "Dashboard" ? "active" : "")">
        <i class="fa-duotone fa-solid fa-briefcase"></i>
        <span>Projects</span>
    </a>
    <a asp-controller="Client" asp-action="Index" class="nav-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "Client" ? "active" : "")">
        <i class="fa-duotone fa-solid fa-handshake"></i>
        <span>Clients</span>
    </a>
    <a asp-controller="Members" asp-action="Members" class="nav-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "Members" ? "active" : "")">
        <i class="fa-duotone fa-solid fa-user-group"></i>
        <span>Members</span>
    </a>
</nav>