@using WebApplication1.ViewModels
@* it will go to layout by default if I remove layout = "layout" *@
@{
    Layout = "_Layout";
}
@model MemberViewModel
<div class="backoffice-wrapper">
    <aside id="sidebar">
        <section class="logotype">
            <a href="#">
                <img src="~/Images/AlphaLogo.svg" alt="alpha" />
                <span>alpha</span>
            </a>
        </section>
        <partial name="_NavLinkPartial" />
    </aside>
    <main> 
        @await Html.PartialAsync("_HeaderPartial", Model)
        <div id="projects" class="page">
            <div class="page-header">
                <h1>Members</h1>

                 @if (User.IsInRole("Administrator"))
                {
                    <button type="button"
                            class="btn"
                            data-type="modal"
                            data-target="#add-member-modal">
                        <i class="fa-duotone fa-solid fa-plus"></i>
                        <span>Add Member</span>
                    </button>
                }
            </div>
            <section class="member-list">
            @foreach (var memberCard in Model.MemberCards)
            {
                @await Html.PartialAsync("_MemberCard", memberCard)
            }
            </section>

        </div>
    </main>
</div>

@await Html.PartialAsync("_AddMemberModal", Model) 
 @await Html.PartialAsync("_EditMemberModal") 

