
@using WebApplication1.ViewModels
@* it will go to layout by default if I remove layout = "layout" *@
@{
    Layout = "_Layout";
}

@{
    var current = (string)ViewBag.Filter;
    var allC = ViewBag.AllCount;
    var activeC = ViewBag.ActiveCount;
    var completedC = ViewBag.CompletedCount;
    var onholdC = ViewBag.OnHoldCount;
}


@model ProjectViewModels
<div class="backoffice-wrapper">
    <aside id="sidebar">
        <section class="logotype">
            <a href="#">
                <img src="~/Images/AlphaLogo.svg" alt="alpha" />
                <span>alpha</span>
            </a>
        </section>
        <partial name="_NavLinkPartial" />
    </aside>
    <main>
        @await Html.PartialAsync("_HeaderPartial")
        <div id="projects" class="page">
            <div class="page-header">
                <h1>Projects</h1>

                @if (User.IsInRole("Administrator"))
                {
                <button type="button"
                        class="btn"
                        data-type="modal"
                        data-target="#add-project-modal">
                    <i class="fa-duotone fa-solid fa-plus"></i>
                    <span>Add Project</span>
                </button>
                }
                    
            </div>


            <nav class="filter-box">
                <a asp-action="Index" asp-route-filter="All"
                   class="filter-box-tab @(current=="All" ? "active" : "")">
                    ALL (@allC)
                </a>
                  <a asp-action="Index" asp-route-filter="Active"
                     class="filter-box-tab @(current=="Active" ? "active" : "")">
                    ACTIVE (@activeC)
                  </a>
                <a asp-action="Index" asp-route-filter="Completed"
                   class="filter-box-tab @(current=="Completed" ? "active" : "")">COMPLETED(@completedC)</a>
               
                   
                   
                  <a asp-action="Index" asp-route-filter="OnHold"
                     class="filter-box-tab @(current=="OnHold" ? "active" : "")">
                    ON HOLD (@onholdC)
                  </a>
            </nav>

            <section class="project-list">
                @foreach (var project in Model.ProjectList) 
                 { 
                     @await Html.PartialAsync("_ProjectCardPartial", project) 
                 }
            </section>

        </div>
    </main>
</div>

 @await Html.PartialAsync("_AddProjectModalPartial", Model)  
 @await Html.PartialAsync("_EditProjectModalPartial") 

